/* https://colorhunt.co/palette/f8ede3bdd2b6a2b29f798777 */

body {
  background-color: #f8ede3;
  font-family: "Poppins", sans-serif;
}

.tripy {
  color: #f8ede3;
  font-size: 8rem;
  font-family: "Caveat", cursive;
}

.ct1 {
  background-image: url("island-20.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 400px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.h2-yol {
  font-size: 24px; /* Adjust the font size as needed */
  margin: 0; /* Remove any default margin */
  text-align: center; /* Center the text horizontally */
}

.rehber {
  display: inline-block; /* Make the div size itself to its content */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/*feature*/

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.divcar {
  margin-top: 1rem;
  margin-bottom: 6rem;
  height: 30rem;
}

.carouselimg {
  max-width: 22rem;
  height: auto;
  
}



.imghead {
  text-align: left;
  justify-content: start;
  width: 35rem;
  margin: auto 10rem auto 2rem;
  
}







.team {
  background-color: #a2b29f;
  text-align: center;
}

.team1 {
  margin-bottom: 4rem;
}

.team2 {
  margin-bottom: 4rem;
}

.head {
  max-width: 11rem;
  max-height: 11rem;
}

.head {
  border-radius: 50%;
}

.cont1 {
  text-align: end;
}

.cont2 {
  text-align: start;
}

@media only screen and (max-width: 768px) {
  .h2-yol {
    margin-top: 2rem;
  }

  .trip1 {
    margin-top: 5rem !important;
    margin-bottom: 0;
  }

  .text-body-emphasis {
    font-size: 2rem !important;
  }

  .imghead {
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    margin-right: 0rem ;
    
    
    
  }

  .divcar {
    margin-top: 1rem;
    margin-bottom: 25rem !important;
    
  }
  .carouselimg {
    max-width: 25rem !important;
    
    
    
  }
  
  .parentcar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
    margin-left: 1.8rem;
    padding-right: 2rem;
  }
  
  .hiddendiv {
    height: 0;
  }

  .py-4 {
    margin-bottom: 1rem !important;
  }

  .feature {
    margin-bottom: 0rem !important;
  }

  .text-body-emphasis {
    margin-bottom: 1rem !important;
  }

  .teamhead {
    font-size: 2.5rem;
  }

  .mobile {
    margin-bottom: 5rem;
  }

  .team1 {
    margin-bottom: 0rem;
  }

  .team2 {
    margin-bottom: 0rem;
  }

  .cont1 {
    text-align: center !important;
    margin-bottom: 3rem;
  }
  .cont2 {
    text-align: center !important;
    margin-bottom: 3rem;
  }

  .cimg {
    margin: auto !important;
    margin-top: 1rem !important;
  }

  .headingcon {
    margin-bottom: 3rem !important;
  }

  .conhead1 {
    font-size: 2.5rem;
  }
  .contdiv {
    margin-bottom: 0 !important;
  }
}
