/* https://colorhunt.co/palette/f8ede3bdd2b6a2b29f798777 */

body {
  background-color: #f8ede3;
  font-family: "Poppins", sans-serif;
}

.tripy {
  color: #f8ede3;
  font-size: 8rem;
  font-family: "Caveat", cursive;
}

.ct1 {
  background-image: url("island-20.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 400px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.h2-yol {
  font-size: 24px; /* Adjust the font size as needed */
  margin: 0; /* Remove any default margin */
  text-align: center; /* Center the text horizontally */
}

.rehber {
  display: inline-block; /* Make the div size itself to its content */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/*feature*/

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.team {
  
  background-color: #a2b29f;
  text-align: center;
  
}

.team1 {
  margin-bottom: 4rem;
}

.team2 {
  margin-bottom: 4rem;
}

.team3{
  margin-bottom: 4rem;
}


.head {
  max-width: 12rem;
  max-height: 12rem;
}